 
  .goToTop {
    background-color: #fbd424;
    border-radius: 3px;
    bottom: 50px;
    cursor: pointer;
    line-height: 14px;
    opacity: .5;
    padding-bottom: 6px;
    padding-top: 8px;
    position: fixed;
    right: 5px;
    text-align: center;
    width: 45px;
    display: none;
    border: 3px solid #fff;
    z-index: 8;
  }

  .contactsidebar {
    background-color: #fbd424;
    border-radius: 3px;
    top: 140px;
    cursor: pointer;
    line-height: 14px;
    opacity: .5;
    padding-bottom: 6px;
    padding-top: 8px;
    position: fixed;
    right: 5px;
    text-align: center;
    width: 200px;
    display: none;
    border: 3px solid #fff;
    z-index: 8;
  }

  .emailsidebar {
    background-color: #fbd424;
    border-radius: 3px;
    top: 120px;
    cursor: pointer;
    line-height: 14px;
    opacity: .5;
    padding-bottom: 6px;
    padding-top: 8px;
    position: fixed;
    right: 5px;
    text-align: center;
    width: 40px;
    display: none;
    border: 3px solid #fff;
    z-index: 8;
    overflow: hidden;
  }

  .contactsidebar:hover, .goToTop1:hover {
    opacity: 1!important;
}
.table-condensed > thead > tr > th, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > td {
    padding: 1px;
}
.alert {
    margin-bottom: 5px !important;
    padding: 5px !important;
}
